body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.pis {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90px;
    padding: 0 140px;                               /*отступы*/
    box-sizing: border-box;                         /*уравнивание размера padding border*/
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.links-item {
    
    text-transform: capitalize;                     /*все слова этого класса станут с большой буквы*/
    text-decoration: none;                          /*убирает подчеркивания слов*/
    color: #6c6c6c;                               /* цвет текста*/
    font-size: 20px;                                /*размер текста 20px*/
    margin-right: 38px;                             /*отступ 38px*/
    height: 100%;                                   /*устанавливаем высоту на 100% хедера*/
    display: flex;                                  /*выравнивание по центру объектов внутри класса*/
    align-items: center;                            /*вертикальное выравнивание*/
    box-sizing: border-box;                         
    border-bottom: 3px solid transparent;          /*добавили прозрачную полоску для того что бы при наведении не скакал текст*/
}

.links {
    height: 100%;
    display:flex; 
    align-items: center;
                        

}
/*.links-item-active {                       создаем активную ссылку для подсветки активной ссылки с классом .links-item-active
    border-bottom: 3px solid #5094f2;

}*/

.links-item:hover {                        /*hover команда работы с наведением курсора на объект*/
    border-bottom: 3px solid #5094f281;  /*подчеркивание снизу наведенной ссылки*/
    transition: 0.3s;                       /*врумя осуществления движения при наведении*/
                   

}

.links-item:last-child {        /*обратиться к последнему links-item*/
margin-right: 0px;              /*выставляет нулевой отступ у последнего*/
}

.banner {
width: 100%;
height: 490px;
background-image: url('../Imeges/Banner.jpg');     /*добавили картинку в виде фона*/
background-repeat: no-repeat;                       /*задает повторение картинки */
background-size: cover;                             /*задает размер картинки внутри блока */
background-position: center;                        /*позиционирует картинку так что бы центр был в видимой области*/
display: flex;                                      /*выставили все в ряд без выравниваний*/
align-items: center;                                /*выравняли все по вертикали в центре*/
justify-content: space-between;                     /*выравнивает все по центру, но надо все подровнять по between*/
padding: 0 90px;                                    /*отступы с права и слева по 90px*/
box-sizing: border-box;
}

.arrow-right{
transform: rotate(180deg);
}
.arrow{
    cursor: pointer;                                /*при наведении на стрелку появляется указатель руки*/
    transition: 0.4s;                               /*время в движении 0.4 с*/
}

.arrow-right:hover{
transform: scale(1.3) rotate(180deg);               /*Задаем увеличение масштаба и поворот правой стрелки*/
}
.arrow-left:hover{
    transform: scale(1.3);                          /*задаем изменение масштаба при наведении курсора*/

}
.text{
    color: rgb(255, 255, 255);
    font-size: 26px;
    margin-left:  100px;
    display: flex;
    flex-direction: column;
}

.text-big{
    font-size: 42px;
    margin-bottom: 25px;
}
.text-small{
    line-height: 35px;                                  /*расстояние между строками*/
}
.button{
    width: 170px;
    height: 40px;
    background: #5094f2;
    border-radius: 3px;
    cursor: pointer;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-top: 40px;

}
.button-img{
    margin-right: 10px;
}
.banner-content{
    display:flex;
    align-items: center;
    justify-content: center;
}
.services{
    width: 100%;
    height: 410px;
    padding: 0 140px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.corona{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.service-item{
    height: 270px;
    width: 250px;
    display: flex;
    flex-direction: column;  /* выравнивание в колонку и меняет вертикаль и горизонталь местами*/
    align-items: center;
    justify-content: space-between;


}
.circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue {
    background: #5094f2;
}
.red{
    background: #d94748;
}
.yellow{
    background: #ebbb11;
}

.test{
    width: 100%;                /*ширина картинки  100% с классом test*/
    height: 490px;              /*высота картинки с классом test*/
    
}
.service-title{
    color: #5094f2;
    font-size: 20px;
}
.service-desc{
    color: #909090;
    font-size: 14px;
    text-align: center;
}
.cart{
    width: 100%;
    height: 430px;
    padding: 0 180px 0 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.cart-title{
    font-size: 42px;
    color: #6f7173;
    margin: 0 0 37px 0;
}
.cart-image{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;     /*выравнивание в колонку после Флекса*/
margin-right: 90px;
}
.cart-info {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    box-sizing: border-box;

}
.info-title{
    font-size: 26px;
    color: #6f7173;
    margin-bottom: 36px;
}
.info-text{
    color: #909090;
    line-height: 40px;
    letter-spacing: -1px;     /*расстояние между буквами*/
}

.dawn {
    width: 100%;
    height: 96px;
    border-top: 1px solid rgb(117, 114, 114);
    box-sizing: border-box;
}


